@charset "UTF-8";

// People all page
.stanford-people-grid,
.people-terms {
  .views-field-title {
    a {
      @include sdss-h4;
      @include sdss-link--primary;

      // color: $sdss-color-green-link;
      // font-weight: $su-font-regular;
    }
  }

  .views-field-su-person-short-title {
    color: $sdss-color-grey-dark;
  }
}

//People teasers
.stanford-people-grid .views-field-title a {
  @include sdss-link--primary;
}


.ds-entity--stanford-person {
  .su-card {
    a {
      @include sdss-h4;

      color: $sdss-color-green-link;
      font-weight: $su-font-regular;

      &:hover {
        color: $sdss-color-blue-hover;
      }

      &:focus {
        color: $sdss-color-grey-dark;
        border: 1px solid $sdss-color-palo-alto-dark;
        background-color: transparent;
        border-radius: 30px;
        padding: 0 6px 1px;
      }

      &:active {
        color: $sdss-color-grey-dark;
      }
    }

    .su-person-short-title {
      color: $sdss-color-grey-dark;
    }
  }
}