@charset "UTF-8";

.navigation.menu--main {
  position: sticky;
  top: 250px;
}

// if logged in
.role--authenticated {
  .navigation.menu--main {
    top: 300px;
  }
}

.su-secondary-nav.su-secondary-nav--accordion {

  >.su-secondary-nav__menu {
    >.su-secondary-nav__item {
      border: 0;
    }
  }

  .su-secondary-nav__item--current {
    > a.su-secondary-nav__link {
      &:before {
        background-color: transparent;
      }

      &:hover,
      &:active,
      &:focus {
        color: $sdss-color-grey-dark;

        &:before {
          background-color: transparent;
          color: transparent;
        }
      }

      // Padding needed for the focus ring.
      &:focus {
        padding: 1.6rem 4.8rem 1.6rem 2.4rem;
      }
    }
  }

  a.su-secondary-nav__link {
    color: $sdss-color-grey-dark;
    font-weight: $su-font-regular;
    font-size: 1.3em;

    &:before {
      background-color: transparent;
    }

    &:hover,
    &:active,
    &:focus {

      &:before,
      &:after {
        background-color: transparent;
      }
    }

    // Padding needed for the focus ring.
    &:focus {
      padding: 1.6rem 4.8rem 1.6rem 2.4rem;
    }
  }
}


// Accordion icons
.su-secondary-nav--accordion {
  .su-secondary-nav__item--parent.su-secondary-nav__item--expanded {
    >.su-secondary-nav__link {
      &:after {
        background: transparent url("../../assets/svg/caret-down-green.svg") no-repeat center / 50%;
        transform: rotate(180deg);
      }
    }
  }
}

.su-secondary-nav--accordion {
  .su-secondary-nav__item--parent {
    >.su-secondary-nav__link {
      &:after {
        background: transparent url("../../assets/svg/caret-down-green.svg") no-repeat center / 50%;
        border: 2px solid $sdss-color-green-link;
        border-radius: 19px;
        width: 32px;
        height: 32px;
     }
    }
  }
}

