@charset "UTF-8";

.su-news-vertical-teaser {
  &.su-card {
    box-shadow: none;
    border: none;

    h2 {
      margin-left: 0;
      margin-right: 0;
    }

    .su-link {
      @include sdss-link--primary;
      text-decoration: none;
    }

    .su-card__contents {
      padding-left: 0;
      padding-right: 0;

      .news-vertical-teaser__topics {
        a {
          @include type_d;

          color: $sdss-color-grey-60;
          font-weight: $su-font-regular;
          text-transform: uppercase;
        }
      }
    }
  }
}