@charset "UTF-8";

// Event list page.



.su-event-list-item {

  flex-direction: row;
  gap: 40px;
  justify-content: flex-start;

  .su-date-stacked {
    max-width: unset;
  }

  .su-event-list-item__date {
    max-width: unset;
    margin-right: unset;
    margin-bottom: unset;

    .su-event-end-month,
    .su-event-start-month,
    .su-event-end-date,
    .su-event-start-date {
      font-weight: $su-font-regular;
    }
  }

  .su-date-stacked.su-date-stacked--no-background {
    border: 1px solid $sdss-color-palo-alto-dark;
    border-radius: 65px;
    width: 130px;
    padding: 20px;
  }

  .su-event-list-item__details {
    .event-list-item__type {
      a {
        @include sdss-link--primary;
        @include type_f;

        color: $sdss-color-grey-60;
        font-weight: $su-font-regular;
        text-transform: uppercase;
        text-decoration: none;
      }
    }

    h2 {
      >a {
        @include sdss-link--primary;

        text-decoration: none;
      }
    }
  }

  .views-field-su-event-date-time {
    span {
      padding-right: 0;
    }
  }

  // removes the calendar icon.
  .date-icon:before {
    content: "";
  }
}


// Columns of event lists

.ptype-stanford-lists[data-react-columns="4"],
.ptype-stanford-lists[data-react-columns="6"] {
   .su-event-list-item__date {
    margin-bottom: inherit;
   }
  }