@charset "UTF-8";

.su-news-list {

  .su-news-list__headline-dek {
    a {
      @include sdss-link--primary;

      text-decoration: none;
    }
  }

  .su-news-list__header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
        "article-image headline"
        "article-image date";
    gap: 25px;
  }

  .image {
    .media {
      margin-left: 0;
    }
  }

  .su-news-list__topics {
    a {
      @include type_d;

      color: $sdss-color-grey-60;
      font-weight: $su-font-regular;
      text-transform: uppercase;
    }
    ul {
      margin-top: 0;

      li {
        margin-bottom: 0;
      }
    }
  }

  .su-news-article {
    border-bottom: none;
  }

  .su-news-list__item-date {
    @include responsive-spacing('padding-top', 0);
  }
}

// turning on the images when there
// is one or two paragraphs per row.
.ptype-stanford-lists {
    &:is([data-react-columns="12"]),
    &:is([data-react-columns="6"]) {
    .su-news-list {
      img {
        display: unset;
      }
    }
  }
}

// override to give that image space.
.ptype-stanford-lists[data-react-columns="6"] {
  .su-news-list__header {
    grid-template-columns: unset;
  }
}