@charset "UTF-8";

.su-news-list {

  .su-news-list__headline-dek {
    a {
      @include sdss-link--primary;
    }
  }

  .su-news-list__header {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-areas:
        "article-image headline"
        "article-image date";
    gap: 25px;
  }

  .image {
    .media {
      margin-left: 0;
    }
  }

  .su-news-list__topics {
    ul {
      margin-top: 0;

      li {
        margin-bottom: 0;
      }
    }
  }

  .su-news-list__item-date {
    @include responsive-spacing('padding-top', 0);
  }
}